# All files and directories in general except certain files
*
!*.h
!*.c
!*.cc
!*.cmake
!*.hpp
!*.cpp
!*.md
!CMakeLists.txt
!LICENSE

# Apply the above specific rules to all files in src/ dir
!cmake/*.cmake
!src/*.h
!src/*.c
!src/*.cc
!src/*.hpp
!src/*.cpp
!src/CMakeLists.txt

# Hidden files and directories
.*
